<div class="row">

  <!-- Map Column -->
  <div class="col-lg-8 mb-4">
    <!-- Embedded Google Map -->
    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
  </div>

  <!-- Contact Details Column -->
  <div class="col-lg-4 mb-4">
    <h3>Contact Details</h3>
    <p>
      3481 Melrose Place
      <br>Beverly Hills, CA 90210
      <br>
    </p>
    <p>
      <abbr title="Phone">P</abbr>: (123) 456-7890
    </p>
    <p>
      <abbr title="Email">E</abbr>:
      <a href="mailto:name@example.com">name@example.com
      </a>
    </p>
    <p>
      <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 mb-4">
    <h3>Send us a Message</h3>
    <form name="sentMessage" #contactForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="control-group form-group">
        <div class="controls">
          <label>Full Name:</label>
          <input type="text" class="form-control" name="name" required [(ngModel)]="contact.name">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Phone Number:</label>
          <input type="tel" class="form-control" name="phone" required [(ngModel)]="contact.phone">
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Email Address:</label>
          <input type="email" class="form-control" name="email" required [(ngModel)]="contact.email">
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Message:</label>
          <textarea rows="10" cols="100" class="form-control" name="message" required [(ngModel)]="contact.message" maxlength="999"
            style="resize:none"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid || sending">
        Send Message
      </button>
      <control-alert [alert]="alert"></control-alert>
    </form>
  </div>

</div>