<div class="row">

  <!-- Map Column -->
  <div class="col-lg-8 mb-4">
    <!-- Embedded Google Map -->
    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
  </div>

  <!-- Contact Details Column -->
  <div class="col-lg-4 mb-4">
    <h3>Contact Details</h3>
    <p>
      3481 Melrose Place
      <br>Beverly Hills, CA 90210
      <br>
    </p>
    <p>
      <abbr title="Phone">P</abbr>: (123) 456-7890
    </p>
    <p>
      <abbr title="Email">E</abbr>:
      <a href="mailto:name@example.com">name@example.com
      </a>
    </p>
    <p>
      <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 mb-4">
    <h3>Send us a Message</h3>
    <form novalidate 
          (ngSubmit)="onSubmit(contactForm)" 
          #contactForm="ngForm">
      <div class="form-group">
        <input type="text" 
              class="form-control" 
              placeholder="Full Name"
              name="name" 
              required               
              maxlength="100"
              [(ngModel)]="contact.name"
              #nameVar="ngModel"
              [ngClass]="{ 'is-invalid': (nameVar.touched || nameVar.dirty) && !nameVar.valid }">
        <span class="invalid-feedback">
          <span *ngIf="nameVar.errors?.required">
            This field is required
          </span>
        </span>
      </div>
      <div class="form-group">
        <input type="tel"
              class="form-control"
              placeholder="Phone Number"
              name="phone"
              required
              minlength="7"
              maxlength="20"
              [(ngModel)]="contact.phone"
              #phoneVar="ngModel"
              [ngClass]="{ 'is-invalid': (phoneVar.touched || phoneVar.dirty) && !phoneVar.valid }">
        <span class="invalid-feedback">
          <span *ngIf="phoneVar.errors?.required">
            This field is required
          </span>
          <span *ngIf="phoneVar.errors?.minlength">
              At least 7 digit number is required
          </span>
        </span>
      </div>
      <div class="form-group">
        <input type="email" 
              class="form-control"
              placeholder="Email"
              name="email"
              required
              email
              [(ngModel)]="contact.email"
              #emailVar="ngModel"
              [ngClass]="{ 'is-invalid': (emailVar.touched || emailVar.dirty) && !emailVar.valid }">
        <span class="invalid-feedback">
          <span *ngIf="emailVar.errors?.required">
            This field is required
          </span>
          <span *ngIf="emailVar.errors?.email">
              Email is invalid
          </span>
        </span>
      </div>
      <div class="form-group">
        <textarea 
                class="form-control"
                placeholder="Message"
                rows="3"                
                name="message"
                required
                [(ngModel)]="contact.message"
                #messageVar="ngModel"
                [ngClass]="{ 'is-invalid': (messageVar.touched || messageVar.dirty) && !messageVar.valid }">
        </textarea>
        <span class="invalid-feedback">
          <span *ngIf="messageVar.errors?.required">
            This field is required
          </span>
          <span *ngIf="messageVar.errors?.required">
              This field is required
            </span>
        </span>
      </div>
      <button type="submit" class="btn btn-primary">
        Send Message
      </button>
      <control-alert [alert]="alert"></control-alert>
    </form>
  </div>

</div>