<!-- Product Search -->
<div class="row">
  <div class="col-9">
      <input type="text" placeholder="Search products" class="form-control" [(ngModel)]="pagination.searchText" (input)="pagination.search()">
  </div>
  <div class="col-3">
    <div class="btn-group" role="group">
        <button class="btn btn-default" type="button" (click)="pagination.order('title')">Title</button>
        <button class="btn btn-default" type="button" (click)="pagination.order('shortContent')">Short Content</button>
    </div>
  </div>
</div>

<hr>

<!-- Product Rows -->
<div *ngFor="let product of pagination.list; let last = last">
  <div class="row">
    <div class="col-md-7">
      <a [routerLink]="['/product', product.id]">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>{{ product.title }}</h3>
      <p>{{ product.shortContent }}</p>
      <a class="btn btn-primary d-none" [routerLink]="['/product', product.id]">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <hr>
</div>
<!-- /Product Row -->

<!-- Pagination -->
<ul class="pagination justify-content-center">

  <li class="page-item">
    <button class="page-link" type="button" aria-label="Previous" (click)="pagination.first()">
      <i class="fa fa-angle-double-left"></i>
    </button>
  </li>
  <li class="page-item">
    <button class="page-link" type="button" aria-label="Previous" (click)="pagination.previous()">
      <i class="fa fa-angle-left"></i>
    </button>
  </li>

  <ng-container *ngFor="let page of pagination.numbers">  
    <li class="page-item">    
      <button type="button" class="page-link" (click)="pagination.current(page)">
        {{ page }}
      </button>
    </li>
  </ng-container>

  <li class="page-item">
    <button class="page-link" type="button" aria-label="Next" (click)="pagination.next()">
      <i class="fa fa-angle-right"></i>
    </button>
  </li>
  <li class="page-item">
    <button class="page-link" type="button" aria-label="Next" (click)="pagination.last()">
      <i class="fa fa-angle-double-right"></i>      
    </button>
  </li>
</ul>
<!-- /Pagination -->