<app-header *ngIf="header"></app-header>

<app-banner *ngIf="banner"></app-banner>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div *ngIf="pageTop">
    <h1 class="mt-4 mb-3">{{pageTopData.title}}
      <small>{{pageTopData.subTitle}}</small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let item of pageTopData.breadCrumb">
        <a title="{{item.title}}" routerLink="{{item.route}}" *ngIf="item.route != ''">{{item.name}}</a>
        <span *ngIf="item.route == ''">{{item.name}}</span>
      </li>
    </ol>
  </div>

  <router-outlet></router-outlet>
</div>
<!-- /Page Content -->

<app-footer *ngIf="footer"></app-footer>