<div class="row mt-5 pt-5">
  <div class="col-sm-4 offset-sm-4">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="text-center">Login to Foo</h3>
        <hr>
        <div role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="User Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Password">
          </div>
          <button type="button" class="btn btn-primary btn-block">Login</button>
          <div class="pt-2">
            <a routerLink="/home">Go Home</a>
            <a routerLink="/register" class="pull-right">Not yet registered?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>